@tailwind base;
@tailwind components;
@tailwind utilities;


/* .animate-in {
    animation-name: slide-in-from-top; 
    animation-duration: 150ms;
  }
  
  .animate-out {
    animation-name: slide-out-to-top;
    animation-duration: 150ms;
  }
  
  
  [data-state="closed"] {
    display: none; 
  } */